body{
    background-color:#FDF7C3;
  }
hr{
    border-style: none;
    border-top-style:double;
    border-color: black;
    border-width: 5px;
    width:100%;
}
h3{
    color:#227C70;
    font-style: italic;
}
h1{
    color:#0F3D3E;
}
h2{
    color:#1A120B;
}
.Resume{
    text-align: center;

}
#projectheading{
    font-style: italic;

}
#Onlineproject{
    font-style: italic;
}
